@using PrintSite.Resources;
@inject SharedLocalization SharedLocalizer
<span>
    | <a asp-action="Index" asp-controller="Admin">@SharedLocalizer["manageproducts"]</a> |
    <a asp-action="Orders" asp-controller="Admin">@SharedLocalizer["manageorders"]</a>
</span>