@using Microsoft.EntityFrameworkCore;
@using PrintSite.Data;
@inject ApplicationDbContext context
@using PrintSite.Resources;
@inject SharedLocalization SharedLocalizer
@{
    int? count = 0;
    try
    {
        count = context.ShoppingCarts?
          .Include(x => x.Products)?
          .SingleOrDefault(x => x.CartUser.UserName == User.Identity.Name)?
          .Products.Count;
    }
    catch { }
}
<span>
    | <a asp-action="Cart" asp-controller="Shopping">
        @if (count is null || count < 1)
        {
            @:@SharedLocalizer["emptycart"]
        }
        else
        {
            @:@SharedLocalizer["itemsincart"]: @count
        }
    </a>
</span>
