<ul>
    <li class="done">The system developed conforms to the description.</li>
    <li class="done">The system has to be developed by the student (or group of students) and not downloaded from GitHub or any other source.</li>
    <li class="done">
        System data is stored in a database (typically a SQL or NoSQL storage). If the database is
        relational, it must contain not less than 4 related tables and must be designed in 3rd normal
        form.
    </li>
    <li class="done">
        The system conforms to MVC approach. User interface layer is separated from business logic
        and from data storage using appropriate MVC means.
    <li class="done">
        The system developed is non-trivial (not blog with 1 form), by adding some additional effort,
        one could create a usable web application. All 4 CRUD functions (create, read, update, and
        delete) must be implemented.
    </li>
    <li class="done">Localization pattern is applied in the system, users can switch languages.</li>
    <li class="done">
        The system has user authentication mechanism. Each registered user is included in some role,
        permissions are assigned to user roles. At least two roles of registered users must be
        implemented. The permissions assigned to all roles and to quest users must be different.
    </li>
    <li class="done">User passwords are not stored in plain text.</li>
    <li class="done">HTML and CSS validates. It is requirement from “Web technologies I” course.</li>
    <li class="done">UTF-8 text encoding is used throughout the system.</li>
    <li class="done">
        ”Nice URLs” are used in the system (addresses do not contain script names, e.g., index.php, GET
        parameters are not used when not appropriate).
    </li>
    <li class="done">
        Version control is used (also for applications developed by a single developer). There are at
        least 3 commits with different timestamps and different functioning versions of the developed
        system. Git is expected to be used if you don't have previous experience with version control.
        Indicates that development took at least 3 different sessions and was not committed only after
        completion.
    </li>
    <li class="">===</li>
    <li class="">
        The system provides a personalization mechanism (e.g., in a social network system user may
        choose what's shown on the first page – most recent items or most interesting items).
    </li>
    <li class="">
        The system adapts to user actions by providing content suitable to a current user (e.g., views
        like “my recent requests”, “other users who were looking for this book, opened this item as
        well...”)
    </li>
    <li class="">
        The system stores audit logs of user actions. Third party plug-ins are not evaluated for this
        requirement.
    </li>
    <li class="done">
        The system adjusts to user's “accept-language” and automatically provides content in the most
        appropriate language.
    </li>
    <li class="">
        The system includes communication interfaces other than standard web / HTML (for instance,
        email notifications, RSS or ATOM feeds, RESTful interface, SOAP web services).
    </li>
    <li class="done">
        The system utilizes file manipulation (upload, processing, display / download, e.g., image
        gallery, data import, file format conversion).
    </li>
    <li class="">AJAX mechanism is used. </li>
    <li class="">===</li>
    <li class="depends">
        The system is deployed to an Internet-connected host and demonstrated using delegated
        domain / subdomain in the browser on a separate computer.
    </li>
    <li class="done">Protection against CSRF / XSRF attacks must be built into the system.</li>
    <li class="done">The algorithm or method used for protection must be described in the description students submit in March.</li>
</ul>