@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="mainbody row container">
    <div class="col-sm-3 sideMenu Reg body">
        <ul class="body menus">
            @foreach(var item in Model)
            {
                <li>
                    <a title="@item.Description" href="~/Product/@item.Id">
                        <span class="menutext">@item.Description</span>
                    </a>
                </li>
            }
            
        </ul>
    </div>

    <div class="col-sm-9 body">


        <div id="banner0" class="banners row">
            <div class="col-sm-4" style="opacity: 1; left: 0px;">
                <div class="banner-box">
                    <a class="clearfix" href="/ru/Category/BusinessCards">
                        <img src="/" alt="Визитные карточки"  class="img-responsive">
                        <div class="s-desc">Визитные карточки</div>
                        @ViewLocalizer["Products"]
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>