@{
    ViewData["Title"] = "Home Page";
}

<div class="mainbody row container">
    <div class="col-sm-3 sideMenu Reg body">
        <ul class="body menus">
            <li>
                <a title="Визитные карточки" href="/ru/Category/BusinessCards" class="">
                    <span class="menutext">Визитные карточки</span>
                    <i class="fa fa-angle-right "></i>
                </a>
            </li>

            <li>
                <a title="Бухгалтерские книги" href="/ru/Category/Pinkasim" class="">
                    <span class="menutext">Бухгалтерские книги</span>
                    <i class="fa fa-angle-right "></i>
                </a>
            </li>
            <li>
                <a title="Наклейки" href="/ru/Category/Stickers" class="">
                    <span class="menutext">Наклейки</span>
                    <i class="fa fa-angle-right "></i>
                </a>
            </li>
            <li>
                <a title="Приглашения" href="/ru/Category/Cards" class="">
                    <span class="menutext">Открытки</span>
                    <i class="fa fa-angle-right "></i>
                </a>
            </li>
            <li>
                <a title="Конверты" href="/ru/Category/Envelopes" class="">
                    <span class="menutext">Конверты</span>
                    <i class="fa fa-angle-right "></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-9 body">


        <div id="banner0" class="banners row">
            <div class="col-sm-4" style="opacity: 1; left: 0px;">
                <div class="banner-box">
                    <a class="clearfix" href="/ru/Category/BusinessCards">
                        <img src="/" alt="Визитные карточки"  class="img-responsive">
                        <div class="s-desc">Визитные карточки</div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>