@using Microsoft.AspNetCore.Mvc.Localization
@using PrintSite.Resources;
@inject IViewLocalizer ViewLocalizer
@inject SharedLocalization SharedLocalizer
@model List<Product>

<div class="mainbody row container">
    <div class="col-sm-3 sideMenu Reg body">
        <ul class="body menus">
            @foreach (var item in Model)
            {
                @if (!item.Visible) continue;
                <li>
                    <a title="@SharedLocalizer[item.Description]" href="~/Product/@item.Id">
                        <span class="menutext">@SharedLocalizer[item.Description]</span>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-9 body">
        <div id="banner0" class="banners row">
            @foreach (var item in Model)
            {
                @if (!item.Visible) continue;
                <div class="banner-box">
                    <a class="clearfix" href="~/product/@item.Id">
                        <img src="https://loremflickr.com/320/240/@item.Description.Replace(' ','_')" alt="@item.Description" class="img-responsive">
                        <span class="s-desc">@ViewLocalizer[item.Description]</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>