html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.row{
    margin:0;
}

header ul{
    list-style-type:none;
}


#statementText a {
    position: absolute;
    left: 1%;
    top: 4%;
    font-size: 175%;
}

#statementText p {
}

#statementText h2 {
    text-align: center;
    margin: 2% 0;
}

#statementText {
    text-align: right;
    width: 80%;
    margin: auto;
}

#statementContent {
    width: 85%;
    margin: auto;
    top: 20%;
    height: 50%;
    position: relative;
    background-color: white;
    overflow-x: hidden;
    border: 10px solid #3eb6de;
    border-radius: 20px;
    direction: rtl;
}

.overlay {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    background: rgba(0, 0, 0, 0.7) !important;
    position: fixed;
    z-index: 99999;
}

#OrderTable tr td, #OrderTable tr th {
    border: 1px solid black;
}

#OrderTable tr th {
    background-color: #e3e3e3;
}

.hider {
    display: none;
}

.text-left {
    text-align: left;
}

.text-center-vertical {
    transform: translateY(25%);
}

.activeTabHeader {
    color: white;
    background-color: #3eb6de;
}

.inactiveTab {
    display: none;
}

.activeTab {
    display: block;
}

#accessMenu div {
    margin-top: 5%;
}

#accessMenu, .switches {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.priceTable {
    text-align: center;
}

.clearfix > img {
    margin: auto;
    width: 67%;
    height: 75%;
}

.banners > div {
    text-align: center;
    margin-bottom: 30px;
    min-width: 250px;
    height: 184px;
}

    .banners > div div.banner-box {
        position: relative;
        height: 184px;
    }

    .banners > div a {
        vertical-align: top;
        display: block;
        border: 1px solid #efefef;
        height: 184px;
    }

        .banners > div a:hover {
            border-color: #3eb6de;
        }

    .banners > div .s-desc {
        position: absolute;
        display: inline-block;
        bottom: 7%;
        left: 5%;
        width: 90%;
        text-align: center;
        color: #424242;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

.compressed p {
    margin: 0;
}

th {
    text-align: center;
}

.dashlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .dashlist > li {
        text-indent: -5px;
    }

    .dashlist li:before {
        content: "-";
        text-indent: -5px;
    }

.hebrewlist li:before {
    margin-left: 0.5%;
}

.minispaced {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.spaced {
    padding-top: 2%;
    padding-bottom: 2%;
}

.manualHover {
    color: #3eb6de !important;
    outline: 0;
}

    .manualHover span {
        color: #3eb6de !important;
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
    }

    .manualHover i {
        margin-left: -5px;
        margin-right: 5px;
    }

.main {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.control-label {
    width: 100%;
    text-align: right !important;
    padding-right: 20px;
}

.content {
    margin: 0;
}

.bluebox {
    height: 5em;
    text-decoration: none;
}

    .bluebox a {
        color: white;
        text-decoration: none;
    }

.tbl tr th {
    border: 1px solid black;
    text-align: center;
    background-color: #ededed;
}

.tbl tr td {
    text-align: center;
}

.finalPrice {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.priceDescription {
    display: none;
}

.orderText {
    margin-top: 1%;
    margin-bottom: 1%;
    line-height: 17px;
    font-size: 14px;
    font-family: david;
}

    .orderText p {
        margin: 0;
    }

.orderDetails {
    margin-top: 9.3%;
}

    .orderDetails div {
        border: 1px solid #333;
        min-height: 31.38em;
    }

header img {
    width: 100%;
    height: 135%;
}

header {
    margin-bottom: 1%;
}

pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 1;
    color: #000;
    font-family: inherit;
    word-break: normal;
    background-color: inherit;
    border: none;
    border-radius: 0;
}


hr {
    width: 85%;
}

a {
    -webkit-transition: all .6s ease 0s;
    -moz-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
}

    a:hover {
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
    }

i {
    -webkit-transition: all .6s ease 0s;
    -moz-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
}

    i:hover {
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
    }

input[type=submit] {
    -webkit-transition: all .6s ease 0s;
    -moz-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
}


.authNav {
    background-color: #333;
    height: 50px;
    color: white;
    margin: auto;
}

    .authNav ul {
        display: inline-block;
        float: none;
        text-align: center;
    }

        .authNav ul > li > a {
            color: white;
            font-size: 16px;
        }


    .authNav li > a:hover {
        color: black;
    }

.box-cart {
    line-height: 2.9em;
    width: 4.2em;
    background-color: #3eb6de;
    color: white;
    font-size: 24px;
    padding: 0 18px;
    -webkit-transition: all .6s ease 0s;
    -moz-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
    position: absolute;
    left: 0;
    height: 70px;
    display: flex;
    cursor: pointer;
}

    .box-cart:hover {
        background-color: #52caf2;
    }

    .box-cart i {
        line-height: 70px;
    }

    .box-cart span {
        line-height: 73px;
    }

    .box-cart span, .box-cart i {
        margin-right: 18%;
    }

.topNavReg {
    background-color: #333;
    height: 70px;
    width: 100%;
    padding-left: 2.5%;
}

    .topNavReg ul {
        float: left;
        line-height: 5em;
    }

.topNav {
    background-color: #333;
    height: 70px;
    width: 100%;
    padding-right: 2.5%;
}

.topMenu {
    padding-left: 0;
}

.topNav ul {
    float: right;
    line-height: 5em;
}

.topMenu li {
    display: inline-block;
    margin: 0 12px;
}

    .topMenu li a {
        text-decoration: none;
    }



        .topMenu li a i.fa-angle-left, .topMenu li a i.fa-angle-right {
            font-size: 17px;
            color: #3eb6de;
            -webkit-transition: all .6s ease 0s;
            -moz-transition: all .6s ease 0s;
            -o-transition: all .6s ease 0s;
            transition: all .6s ease 0s;
        }

        .topMenu li a i.fa-home {
            font-size: 24px;
            color: #fff;
            -webkit-transition: all .6s ease 0s;
            -moz-transition: all .6s ease 0s;
            -o-transition: all .6s ease 0s;
            transition: all .6s ease 0s;
        }

        .topMenu li a:hover > i.fa-angle-left {
            margin-right: 5px;
            margin-left: -5px;
        }

        .topMenu li a:hover > i.fa-angle-right {
            margin-right: -5px;
            margin-left: 5px;
        }

    .topMenu li span {
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        padding-right: 2px;
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
    }

.topMenuReg li span {
    padding-right: 0;
    padding-left: 2px;
}

.topMenu li a:hover > span, .topMenu li a:hover > i.fa-home {
    color: #3eb6de;
    -webkit-transition: all .6s ease 0s;
    -moz-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
}



.box-title h3 {
    background: #3eb6de;
    font-size: 1.8em;
    color: #fff;
    line-height: 30px;
    font-weight: 500;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.bluebar {
    color: #3eb6de;
    font-weight: 600;
    margin: 0 1%;
}

.languages {
    background-color: #333;
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

    .languages > a {
        color: white;
    }

        .languages > a:hover {
            color: #3eb6de;
        }

.nopad {
    padding-left: 0;
    padding-right: 0;
}

.nopads {
    padding-left: 0;
    padding-right: 0;
}

.body {
    padding-left: 0;
    margin-bottom: 5%;
}

.namecode {
    margin: 1.5em 0;
}

.breadcrumb {
    margin: 0 0 1.5em 0;
    padding: 1em 0;
    border-radius: 0;
    background: #ededed;
    text-align: right;
}

.graybar {
    background-color: #ededed;
    height: 40px;
    padding: 0.65em 1em;
}

.breadcrumb li:first-child {
    padding-right: 1em;
}

.breadcrumb li {
    padding: 5px 0;
    display: inline-block;
    font-size: 18px;
}

    .breadcrumb li a {
        color: #000;
    }

        .breadcrumb li a:hover {
            color: #428bca;
        }

.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb li a i {
    /*color: #428bca;*/
    color: #000;
    font-size: 15px;
}

    .breadcrumb li a i:hover {
        color: #428bca;
    }

.tinyImages img {
    width: 100%;
    margin-top: 15%;
    border: 1px solid #333;
    cursor: pointer;
}

    .tinyImages img:first-child {
        margin: 0;
    }

.nav {
    display: block;
}

.bigImage img {
    width: 522px;
    height: 351px;
    border: 1px solid #333;
}

.sideMenu ul {
    text-align: right;
    list-style-type: none;
}

.sideMenu.Reg ul {
    text-align: left;
}

.sideMenu ul li {
    border-top: 1px solid #ededed;
    padding: 4% 0;
}

    .sideMenu ul li a {
        width: 100%;
        padding-right: 15%;
        display: inline-block;
        text-decoration: none;
        color: #1d1f20;
    }

.sideMenu.Reg ul li a {
    padding-right: 0;
    padding-left: 15%;
}

.sideMenu ul li .fa-angle-left {
    float: left;
    line-height: 18px;
    color: #47c7de;
    -webkit-transition: all .6s ease 0s;
    -moz-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
}

.sideMenu ul li .fa-angle-right {
    float: right;
    line-height: 18px;
    color: #47c7de;
    -webkit-transition: all .6s ease 0s;
    -moz-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
}

.sideMenu ul li a:hover {
    color: #3eb6de;
}

    .sideMenu ul li a:hover > .fa-angle-left {
        margin-left: -5px;
        margin-right: 5px;
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
    }

    .sideMenu ul li a:hover > .fa-angle-right {
        margin-left: 5px;
        margin-right: -5px;
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
    }

.sidemenu ul li a span {
    font-size: 2em;
}

.menutext {
    font-size: 1.2em;
}

.sideTitle {
    text-align: right;
}

    .sideTitle h2 {
        margin: 0;
        padding: 0 3% 3% 0;
    }

.optionText {
    padding-top: 1%;
}

    .optionText span {
        font-size: 18px;
        display: block;
        margin: 0 0 28.5% 0;
    }

.optionChoice select {
    margin-bottom: 10%;
}

.blueButton {
    display: inline-block;
    width: 100%;
    height: 2.5em;
    background-color: #3eb6de;
    text-align: center;
    text-decoration: none;
    color: white;
    /*margin-bottom: 10%;*/
    -webkit-transition: all .6s ease 0s;
    -moz-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
    position: relative;
}

    .blueButton:disabled {
        display: inline-block;
        width: 100%;
        height: 2.5em;
        background-color: #bfc6c9;
        text-align: center;
        text-decoration: none;
        color: black;
        /*margin-bottom: 10%;*/
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
        position: relative;
    }

    .blueButton:hover:enabled {
        background-color: #4dc9f2;
        color: white;
        cursor: pointer;
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
    }

    .blueButton span {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        height: 10px;
        left: 0;
        width: 100%;
    }

    .blueButton.orange {
        background-color: darkorange;
    }

        .blueButton.orange:hover {
            background-color: orange;
        }

.finalPrice {
    margin: 5% 0 2% 0;
}

    .finalPrice div {
        background-color: #3eb6de;
        height: 3.5em;
        -webkit-transition: all .6s ease 0s;
        -moz-transition: all .6s ease 0s;
        -o-transition: all .6s ease 0s;
        transition: all .6s ease 0s;
        width: 32%;
        padding-top: 1%;
    }

        .finalPrice div:not(:last-child) {
            margin-right: 1%;
            width: 33%;
        }

        .finalPrice div span {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 1%;
            line-height: 18px;
            font-weight: 600;
        }

        .finalPrice div:hover {
            background-color: #4dc9f2;
            -webkit-transition: all .6s ease 0s;
            -moz-transition: all .6s ease 0s;
            -o-transition: all .6s ease 0s;
            transition: all .6s ease 0s;
        }

.price [id^=s] {
    margin: 0 10%;
    margin-bottom: 1.23%;
}

.priceLeft {
    background-color: #e3e3e3;
    font-weight: bold;
    border: 1px solid #e3e3e3;
}

    .priceLeft > span {
        padding-top: 2%;
        display: inline-block;
        height: 30px;
    }

.priceList {
    min-height: 270px;
}

    .priceList > div > div {
        text-align: center;
        height: 2.5em;
        margin-bottom: 0.25em;
    }

.priceRight {
    border: 1px solid #3eb6de;
    font-weight: bold;
}

    .priceRight > span {
        padding-top: 5%;
        display: inline-block;
        height: 30px;
    }


.botNav {
    background: #333;
    height: 5em;
    text-align: center;
}

    .botNav ul {
        display: inline-block;
        list-style-type: none;
        line-height: 70px;
    }

        .botNav ul li {
            color: white;
            display: inline-block;
        }

        .botNav ul > li > a {
            color: white;
            text-decoration: none;
        }

            .botNav ul > li > a:hover {
                color: #3eb6de;
            }

        .botNav ul > li > span {
            color: #3eb6de;
            text-decoration: none;
            padding: 0 0.5em;
            font-size: 20px;
        }

        .botNav ul > li > a > span {
            font-size: 1.2em;
        }




/*
    Login page
*/
#logoutForm {
    width: 100%;
}

.loginForm > div {
    background-color: #f9f9f9;
    border: 1px solid #efefef;
}

    .loginForm > div > div {
        padding: 0 10%;
    }

.r1 {
    font-size: 23px;
    font-weight: bold;
    color: #3eb6de;
}

.r2 {
    font-weight: normal;
    font-style: italic;
}

.graybox {
    padding: 15px;
    background-color: #f9f9f9;
    border: 3px solid #efefef;
    height: 25em;
}

.required:before {
    content: "*";
    font-weight: bold;
    color: deeppink;
}


.loginForm {
    margin: auto 0;
}

    .loginForm > div {
        width: 49%;
        position: relative;
        min-height: 1px;
    }

.reglabels {
    text-align: left;
}

.title h2 {
    font-weight: bold;
}

.title span {
    font-size: 17px;
    margin-bottom: 1%;
    display: inline-block;
}

    .title span:last-child {
        font-weight: bold;
    }


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 40%;
    top: 35%;
    z-index: 999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
